<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lotteryviewer.twocolorball">

    <application>
        <activity android:name=".ui.activities.HistoryBallActivity"></activity>
        <activity
            android:name=".ui.activities.TwoColorBallCheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode|keyboardHidden|locale|mnc|mcc"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".ui.activities.TwoColorBallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|uiMode|keyboardHidden|locale|mnc|mcc"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:ignore="UnusedAttribute" />
    </application>

</manifest>